# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/*
!.idea/runConfigurations
*.iml
out
gen

*.zip
*.tar*
*.exe
/hyper-v/qemu-img/
